#all {

}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: "Century Gothic";
}

#menu {
    height: 30%;
    width: auto;
    margin: -8px;
    background-image: url("images/style/biblioteka.jpg");
    padding-bottom: 2%;

}

#name {
    text-align: center;;
    padding-top: 4%;
    padding-bottom: 3%;
    font-size: 70px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: "Century Gothic";
    font-weight: bold;
}

#links {
    m

}

table.tabela1 {
    border: 1px solid white;
    float: bottom;
    width: auto;
}

#left {
    width: 25%;
    height: 80%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    font-family: "Century Gothic";
}


#right {
    width: 25%;
    height: 80%;
    float: right;
}

#footer {
    height: 10%;
    float: bottom;
}